Source: multiflexi
Section: web
Priority: optional
Maintainer: "Vítězslav Dvořák" <info@vitexsoftware.cz>
Build-Depends: debhelper-compat (= 13), jq, moreutils, pkg-php-tools, php-yaml, php-intl, php-simplexml
Standards-Version: 4.1.4
Homepage: https://github.com/VitexSoftware/multiflexi-common

Package: multiflexi
Multi-Arch: foreign
Depends: ${misc:Depends},
 multiflexi-common,
Recommends: multiflexi-scheduler, multiflexi-web|multiflexi-web5, muliflexi-executor, multiflexi-housekeeper
Architecture: all
Description: Run various tools on top of not even AbraFlexi and Stormware Pohoda
 Define server, customers and its companies. Then specify
 which services/commands run upon it.

Package: multiflexi-common
Multi-Arch: foreign
Depends: ${misc:Depends}
 locales-all,
 php-vitexsoftware-multiflexi-core,
 adduser (>= 3.11),
 php-cli,
Suggests: multiflexi-cli, multiflexi-web|multiflexi-web5
Architecture: all
Description: shared multiflexi configuration
 Create MultiFlexi user and configuration
